body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    color: white;
    margin-top: 100px;
}

.container {
    background: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
}